.featured-devices {
  position: relative;

  figure {
    margin: 0 0 0 40;

    &:first-of-type {
      position: relative;
      bottom: 84px;
      left: 40px;
    }

    &:last-of-type {
      position: absolute;
      top: 84px;
      right: 197px;
    }
  }

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 341px;
    right: -7px;
    height: 18px;
    width: 380px;
    background-color: #1f2531;
    border-radius: 50%;
    filter: drop-shadow(0px 17px 2px #08090c);
  }
}
