.quick-links {
  ul {
    li {
      text-transform: capitalize;
      margin-top: 11px;
      border-bottom: 1px solid #2f384b;
    //   letter-spacing: 0.3px;
      padding-bottom: 9px;
      font-size: 13px;
      font-weight: 100;
    }
  }
}
