.featured-devices {
  position: relative;

  figure {
    margin: 0 0 0 40;

    &:first-of-type {
      position: relative;
      bottom: 78px;
      left: 40px;
    }

    &:last-of-type {
      position: absolute;
      top: 84px;
      right: 197px;
    }
  }
}

.featured-devices-oval-shadow {
  position: relative;
  top: 343px;
  right: -12px;
  height: 16px;
  width: 375px;
  background-color: #1f2531;
  border-radius: 50%;
  filter: drop-shadow(0px 17px 2px #08090c);
}
