body {
  background-color: #1f2531;
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

header {
  display: flex;
}

.top-navigation {
  width: 100%;
  height: 118px;
  border-bottom: 1px solid #666;
}

.nav-buttons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 17px 0 0;
  padding: 0;
  height: 100%;
}

.nav-buttons li {
  padding: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 14px;
  margin: 50px 0;
  text-transform: uppercase;
}

.nav-buttons li:not(:last-child)::after {
  display: inline-block;
  margin: 0 20px;
  content: "|";
  color: #666;
}

.nav-buttons li a {
  text-decoration: none;
  padding-top: 46px;
  color: #666;
}

.nav-buttons li a:hover {
  color: #fff;
  border-top: 4px solid #b86365;
}

.header-logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 397px;
  height: 195px;
  background-color: #b86365;
  border-radius: 0 0 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.header-logo :first-child {
  font-size: 42px;
  text-transform: uppercase;
  padding: 50px 20px 22px 20px;
}

.header-logo :last-child {
  font-size: 14px;
  padding-bottom: 62px;
  font-weight: 100;
}

.featured {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  max-height: 420px;
}

.featured-text {
  margin: 112px 0 0 0;
}

.featured-text h1 {
  font-size: 56px;
  font-weight: 100;
  color: #fff;
  margin: 0 0 20px;
}

.featured-text p {
  color: #fff;
  margin: 0;
}

.featured-text p:first-of-type {
  line-height: 1.6;
}

.featured-text p:last-of-type {
  margin-top: 4px;
}

.featured-text p a {
  text-decoration: none;
  color: #b86365;
}

.featured-text figure {
  margin: 23px 0 0;
}

.featured-devices {
  position: relative;
}

.featured-devices figure {
  margin: 0 0 0 40;
}

.featured-devices figure:first-of-type {
  position: relative;
  bottom: 78px;
  left: 40px;
}

.featured-devices figure:last-of-type {
  position: absolute;
  top: 84px;
  right: 197px;
}

.featured-devices-oval-shadow {
  position: relative;
  top: 343px;
  right: -12px;
  height: 16px;
  width: 375px;
  background-color: #1f2531;
  border-radius: 50%;
  filter: drop-shadow(0px 17px 2px #08090c);
}

.content {
  background-color: #fff;
  height: 675px;
  margin: 0;
  border-radius: 23px;
  display: grid;
  grid-template-columns: 480px 480px;
  grid-template-rows: 525px 110px;
  grid-template-areas:
    "top-features benefits"
    "subscribe subscribe";
}

.top-features {
  padding: 42px 0 0 22px;
  max-width: 480px;
  display: grid;
  grid-template-columns: 180.4px 180.4px;
  grid-template-rows: 180.4px 180.4px;
  grid-template-areas:
    "feature-1 feature-2"
    "feature-3 feature-4";
  column-gap: 55px;
  row-gap: 54px;
  color: #fff;
  grid-area: top-features;
}

.feature-circle {
  background-color: #b86365;
  width: 180.4px;
  height: 180.4px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 16px solid #e2e2e2;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.feature-circle header {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 7px 0;
}

.feature-circle p {
  padding: 0 20px;
  font-size: 14px;
}

.feature-1 {
  grid-area: feature-1;
}

.feature-2 {
  grid-area: feature-2;
}

.feature-3 {
  grid-area: feature-3;
}

.feature-4 {
  grid-area: feature-4;
}

.benefits {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  max-width: 480px;
  font-family: Georgia, "Times New Roman", Times, serif;
  align-content: flex-start;
  margin: 50px 0 0 10px;
  grid-area: benefits;
}

.benefit {
  display: flex;
  flex-direction: column;
  max-width: 198px;
  max-height: 90px;
  margin: 0px 32px 15px 0px;
}

.benefit header div {
  height: 32px;
  width: 32px;
  background-color: #333333;
  color: #fff;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  letter-spacing: 0.5px;
}

.benefit header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.benefit header h4 {
  font-weight: 100;
  font-style: oblique;
  font-size: smaller;
  color: #666;
  margin: 0 0 0 10px;
}

.benefit p {
  font-weight: 100;
  color: #989898;
  font-size: 13px;
  margin: 0;
  font-style: normal;
}

