body {
  background-color: #1f2531;
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

header {
  display: flex;
}

.top-navigation {
  width: 100%;
  height: 118px;
  border-bottom: 1px solid #666;
}

.nav-buttons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 17px 0 0;
  padding: 0;
  height: 100%;
}

.nav-buttons li {
  padding: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 14px;
  margin: 50px 0;
  text-transform: uppercase;
}

.nav-buttons li:not(:last-child)::after {
  display: inline-block;
  margin: 0 20px;
  content: "|";
  color: #666;
}

.nav-buttons li a {
  text-decoration: none;
  padding-top: 46px;
  color: #666;
}

.nav-buttons li a:hover {
  color: #fff;
  border-top: 4px solid #b86365;
}

.header-logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 397px;
  height: 195px;
  background-color: #b86365;
  border-radius: 0 0 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.header-logo :first-child {
  font-size: 42px;
  text-transform: uppercase;
  padding: 50px 20px 22px 20px;
}

.header-logo :last-child {
  font-size: 14px;
  padding-bottom: 62px;
  font-weight: 100;
}

.featured {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.featured-text {
  margin: 112px 0 0 0;
}

.featured-text h1 {
  font-size: 56px;
  font-weight: 100;
  color: #fff;
  margin: 0 0 20px;
}

.featured-text p {
  color: #fff;
  margin: 0;
}

.featured-text p:first-of-type {
  line-height: 1.6;
}

.featured-text p:last-of-type {
  margin-top: 4px;
}

.featured-text p a {
  text-decoration: none;
  color: #b86365;
}

.featured-text figure {
  margin: 23px 0 0;
}

.featured-devices figure {
  margin: 0 0 0 40;
}

.featured-devices figure:first-of-type {
  position: relative;
  bottom: 78px;
  left: 40px;
}

.featured-devices figure:last-of-type {
  position: absolute;
  top: 279px;
  right: 508px;
}

.featured-devices-oval-shadow {
  position: relative;
  top: 343px;
  right: -12px;
  height: 16px;
  width: 375px;
  background-color: #1f2531;
  border-radius: 50%;
  filter: drop-shadow(0px 17px 2px #08090c);
}
